/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15002e;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: -300px;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links.active {
    display: flex;
    flex-direction: column;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      position: absolute;
      top: 50px;
      right: 10px;
      background-color: #e80b0b;
      padding: 1rem;
      border-radius: 8px;
    }
  
    .hamburger {
      display: block;
    }
  }
  